# https://help.github.com/ignore-files/ 有更多 ignore file 的資訊

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*~
*.swp
tmp/
.DS_Store
.vscode/

# 環境變數
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next

# Dependency
.build/*
.next
node_modules/
